{% extends 'shop/base.html' %}

{% block content %}

<div>
    <marquee behavior="scroll" direction="left" class="bg-success text-white py-2">
        🚀 Free Worldwide Shipping on All Orders Over $150 USD! for Electronics, Fashion Collections Only | New Arrivals Just Landed! | Exclusive Discounts Available Now! Order Now!! 🚀
    </marquee>
</div>


<!-- <div class="container text-center mt-4">
    <div class="row">
        <div class="col-md-4">
            <a href="{% url 'category1' %}" class="btn btn-outline-primary btn-lg d-block p-5">Electronics</a>
        </div>
        <div class="col-md-4">
            <a href="{% url 'category2' %}" class="btn btn-outline-success btn-lg d-block p-5">Fashion</a>
        </div>
        <div class="col-md-4">
            <a href="{% url 'category3' %}" class="btn btn-outline-danger btn-lg d-block p-5">Accessories</a>
        </div>
    </div>
</div> -->

<div class="container mt-4 text-center">
    <h2>Select a Category</h2>
    <div class="row mt-4">
        <div class="col-md-4">
            <a href="{% url 'category_products' 'electronics' %}" class="btn btn-outline-primary btn-lg ">Electronics</a>
        </div>
        <div class="col-md-4">
            <a href="{% url 'category_products' 'fashion' %}" class="btn btn-outline-success btn-lg ">Fashion</a>
        </div>
        <div class="col-md-4">
            <a href="{% url 'category_products' 'accessories' %}" class="btn btn-outline-danger btn-lg">Accessories</a>
        </div>
    </div>
</div>

<div class="mt-5 p-4 bg-light text-center">
    <h2>Why Shop with Us?</h2>
    <p>ShopEase provides the best deals on electronics, fashion, and accessories. Quality products at unbeatable prices!</p>
</div>
  
<br> 

<div class="container mt-5">
    <h2 class="text-center">Latest Products</h2>
    <hr class="w-25 mx-auto">

    <div class="row">
        {% for product in products %}
        <div class="col-md-4">
            <div class="card">
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                <div class="card-body text-center">
                    <h5 class="card-title">{{product.name}}</h5>
                    <p class="'card-text">{{product.description|truncatewords:10}}</p>
                    <p class="font-weight-bold text-primary">Price: ${{product.price}}</p>
                    <a href="#" class="btn btn-success">Buy Now</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p class="text-cemter">No products available</p>
        {% endfor %}
    </div>

</div>

<br> <br> <br>

<div class="container mt-5" id = "about">
    <h2 class="text-center">About Us</h2>
    <hr class="w-25 mx-auto">
    
    <p class="text-center font-italic font-weight-bold text-muted">
        An exclusive connection to Indian artisans for more meaningful buying.
        <br> Menswear and accessories crafted for you in numerous colors and refined materials.
        <br> ShopEase is a brand that is committed to quality, sustainability, and the well-being of our artisans and products. 
    </p>

    <div class="mt-4">
        <h4 class="text-center">Who We Are</h4>
        <p class="text-justify">
            Starting in 2020 out of our family workshop in Bengaluru, India; we have teamed up with 8 fellow Indian <i>artigiani</i> or craftsmen,
            all very eager to showcase their artisanal heritage and quintessential designs.
        </p>
        <p class="text-justify">
            From hand-hemmed tips to hand-stitched shoulders, our artisans craft all our garments and accessories according to
            the highest quality standards to create hard-wearing everyday pieces for timeless casual elegance.
        </p>
        <p class="text-justify">
            To make this happen, we provide them with the canvas to turn into their next creation. We travel around India, visiting mills
            and merchants to find the best fabrics and yarns, making sure they are natural, colorful, and responsibly sourced.
        </p>
        <p class="text-justify">
           Firstly, we started with a small collection of menswear and accessories, and we are now expanding our range to include women's wear and home goods like accessories and electronics.
        </p>
    </div>
</div>






{% endblock %} 
